<header>
	<nav>
		<ul>
			<li><%= link_to 'Home', root_url %></li>
		</ul>
	</nav>

	<% if logged_in? %>
	<div class="welcome">Hello, <%= current_user.name %>!</div>
	<%= link_to "Admin", admin_path %>
	<%= link_to "Logout", logout_path %>
	<% else %>
	<%= link_to "Login", login_path %>
	<% end %>
</header>